{% extends 'index.html' %}

{% load static %}

{% block title %}
    Lampada | Hakkımızda
{% endblock %}

{% block content %}
    <!-- vizyon ve misyon bölümü (görseller mevcut) -->
    <section class="mission-vision py-5">
        <div class="container">
            <h6 class="minihead text-center">Anasayfa / <span>Hakkımızda</span></h6>
            <h6 class="mdhead text-center">Hakkımızda</h6>
            <hr class="headhr">
            <div class="row py-4">
                <div class="col-lg-6 mt-4">
                    <div class="mycard p-3">
                        <h4>Vizyonumuz</h4>
                        <hr class="headhr mt-2 mb-3">
                        <p class="text-muted">Abajur ve lambader sektöründe yenilikçi ve öncü bir marka olmak için var gücümüzle çalışıyoruz. Müşterilerimizin evlerini aydınlatırken estetik ve işlevselliği bir araya getiren ürünlerimizle onlara kaliteli ve benzersiz bir deneyim sunmayı hedefliyoruz. İnovasyon, tasarım ve müşteri memnuniyetini odak noktamız yaparak, evlerdeki aydınlatma anlayışını değiştirmeyi amaçlıyoruz.</p>
                    </div>
                </div>
                <div class="col-lg-6 mt-4">
                    <div class="imgbox">
                        <img src="{% static 'img/bed-2586034_1280 (1).jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-6 mt-4">
                    <div class="mycard p-3">
                        <h4>Misyonumuz</h4>
                        <hr class="headhr mt-2 mb-3">
                        <p class="text-muted">Misyonumuz, insanların yaşam alanlarını aydınlatma konusunda ilham vermek ve onlara özgün ürünler sunmaktır. Her bir abajur ve lambaderi özenle tasarlayarak, müşterilerimizin stil ve zevklerine uygun seçenekler sunuyoruz. En kaliteli malzemeleri kullanarak, her aşamada özenle üretim yapıyor ve müşterilerimizin beklentilerini aşmayı hedefliyoruz. Etkileyici tasarımlarımız ve yaratıcı yaklaşımımızla evleri aydınlatırken, atmosferi değiştirmek ve sıcak bir ambiyans yaratmak istiyoruz.</p>
                    </div>
                </div>
                <div class="col-lg-6 mt-4">
                    <div class="imgbox">
                        <img src="{% static 'img/light-4324163_1280.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-6 mt-4">
                    <div class="mycard p-3">
                        <h4>Değerlerimiz</h4>
                        <hr class="headhr mt-2 mb-3">
                        <p class="text-muted"><b>Müşteri Odaklılık:</b> Müşterilerimizin beklentilerini anlamak ve onlara değer katan ürünler sunmak önceliğimizdir. <br>
                        <b>İnovasyon:</b> Sürekli olarak yenilikçi fikirler geliştirerek sektörde öncü olmayı hedefliyoruz. <br>
                        <b>Kalite:</b> En üst düzey kalite standartlarını uygulayarak müşterilerimize güvenilir ve dayanıklı ürünler sunuyoruz. <br>
                        <b>Estetik:</b> Tasarımlarımızla görsel açıdan etkileyici ve estetik ürünler yaratmayı önemsiyoruz. <br>
                        <b>Sürdürülebilirlik:</b> Çevresel etkileri azaltan ve doğaya saygılı üretim süreçleriyle sorumluluk sahibi bir şirket olmayı taahhüt ediyoruz. <br>
                        <b>İşbirliği:</b> Ekip çalışması ve müşterilerimizle işbirliği yaparak karşılıklı başarıyı hedefliyoruz.</p>
                    </div>
                </div>
                <div class="col-lg-6 mt-4">
                    <div class="imgbox">
                        <img src="{% static 'img/light-4324163_1280.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}