{% extends 'index.html' %}

{% load static %}

{% block title %}
    Lampada | Hakkımızda
{% endblock %}

{% block content %}
    <!-- vizyon ve misyon bölümü (görseller mevcut) -->
    <section class="mission-vision py-5">
        <div class="container">
            <h6 class="minihead text-center">Anasayfa / <span>Hakkımızda</span></h6>
            <h6 class="mdhead text-center">Hakkımızda</h6>
            <hr class="headhr">
            <div class="row py-4">
                <div class="col-lg-6 mt-4">
                    <div class="mycard p-3">
                        <h4>Vizyonumuz</h4>
                        <hr class="headhr mt-2 mb-3">
                        <div class="text-muted">
                            {{ hakkimizda.vizyon | safe }}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-4">
                    <div class="imgbox">
                        <img src="{{ hakkimizda.vizyonResim.url }}" alt="">
                    </div>
                </div>
                <div class="col-lg-6 mt-4">
                    <div class="mycard p-3">
                        <h4>Misyonumuz</h4>
                        <hr class="headhr mt-2 mb-3">
                        <div class="text-muted">
                            {{ hakkimizda.misyon | safe }}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-4">
                    <div class="imgbox">
                        <img src="{{ hakkimizda.misyonResim.url }}" alt="">
                    </div>
                </div>
                <div class="col-lg-6 mt-4">
                    <div class="mycard p-3">
                        <h4>Değerlerimiz</h4>
                        <hr class="headhr mt-2 mb-3">
                        <div class="text-muted">
                            {{ hakkimizda.degerlerimiz | safe }}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-4">
                    <div class="imgbox">
                        <img src="{{ hakkimizda.degerlerimizResim.url }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}