{% load static %}
<!doctype html>
<html lang="tr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lambada Aydınlatma</title>

    <!-- bs css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <!-- Open Sans Googe Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">

    <!-- Oswald  Googe Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap" rel="stylesheet">

    <!-- owl carousel css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <!-- style css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <!-- navbar -->
    {% include 'includes/_navbar.html' %}

    <!-- offcanvas-basket -->
    {% include 'includes/_offcanvas-basket.html' %}


    <!-- offcanvas-menu -->
    {% include 'includes/_offcanvas-menu.html' %}


    <!-- urunler (sadece bu sayfa için, yüklenen tüm ürünler buraya geliyor) -->
    <section class="products py-5">
        <div class="container">
            <h6 class="minihead text-center">Tüm Ürünler Burada</h6>
            <h6 class="mdhead text-center">Tüm Ürünler</h6>
            <hr class="headhr">

            <div class="row mt-4">
                <div class="col-md-6 sort-options-left my-3 d-flex align-items-center">
                    <form method="GET" action="{% url 'allProduct' %}" class="d-flex justify-content-between align-items-center me-4 w-100">
                        {% csrf_token %}
                        <input type="text" name="search_query" placeholder="Ürün Ara" class="pt-2 pb-2 ps-2 pe-2 me-2" style="width: 100%;">
                        <button type="submit" class="btn btn-primary pb-2 pt-2 ps-4 pe-4">Ara</button>
                    </form>
                </div>
                <div class="col-md-6 sort-options-right my-3 d-flex justify-content-md-end align-items-center">
                    <ul class="nav-item dropdown m-0 p-0">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Sırala
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="?sort_option=asc"><i class="fa-solid fa-arrow-up"></i> Artan Fiyat</a></li>
                            <li><a class="dropdown-item" href="?sort_option=desc"><i class="fa-solid fa-arrow-down"></i> Azalan Fiyat</a></li>
                            <li>
                        </ul>
                    </ul>
                </div>
            </div>

            

            <div class="row mt-2">
                {% for urun in urunler %}
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 mt-3">
                        <a class="card" href="{% url 'product' urun.id %}">
                            {% if urun.indirimli_fiyat %}
                            <div class="sale">
                                <p>İndirim</p>
                            </div>
                            {% endif %}
                            <div class="imgbox">
                                <img src="{{ urun.urunresmi.url }}" alt="">
                            </div>
                            <div class="text-box">
                                <p class="name">{{ urun.isim }}</p>
                            </div>
                            <div class="price-content">
                                <div class="price-box">
                                    {% if urun.indirimli_fiyat %}
                                    <p class="price fw-lighter text-dark"><del>{{ urun.fiyat }} TL</del></p>
                                    <p class="discounted-price ms-3">{{ urun.indirimli_fiyat }} TL</p>
                                    {% else %}
                                    <p class="price">{{ urun.fiyat }} TL</p>
                                    {% endif %}
                                </div>
                                <button class="btn btn-primary">İncele</button>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>

            {% if no_results %}
                <p>Arama sorgunuz için sonuç bulunamadı.</p>
            {% endif %}

            <div class="row mt-5 collection-parent wrapperone">
                <div class="col-lg-12 mt-3">
                    {% for wrapper in wrapperone %}
                        <div class="text-box">
                            <p class="text-center pt-4 fs-2">{{ wrapper.wrapperText }}</p>
                        </div>
                        <a href="{% url 'allProduct' %}" class="btn btn-primary mt-5">Alışverişe Başla</a>
                        <div class="owl-carousel owl-theme owl-carouseltwo">
                        
                            {% if wrapper.wrapperResim1 %}
                                <div class="item">
                                    <div class="card">
                                        <div class="imgbox">
                                            <img src="{{ wrapper.wrapperResim1.url }}"
                                                alt="">
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if wrapper.wrapperResim2 %}
                                <div class="item">
                                    <div class="card">
                                        <div class="imgbox">
                                            <img src="{{ wrapper.wrapperResim2.url }}"
                                                alt="">
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if wrapper.wrapperResim3 %}
                                <div class="item">
                                    <div class="card">
                                        <div class="imgbox">
                                            <img src="{{ wrapper.wrapperResim3.url }}"
                                                alt="">
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if wrapper.wrapperResim4 %}
                                <div class="item">
                                    <div class="card">
                                        <div class="imgbox">
                                            <img src="{{ wrapper.wrapperResim4.url }}"
                                                alt="">
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if wrapper.wrapperResim5 %}
                                <div class="item">
                                    <div class="card">
                                        <div class="imgbox">
                                            <img src="{{ wrapper.wrapperResim5.url }}"
                                                alt="">
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div> 
            </div>
        </div>
    </section>


    <!-- footer -->
    {% include 'includes/_footer.html' %}



    <!-- bs js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

    <!-- owl carousel min js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <!-- app js -->
    <script src="{% static 'js/app.js' %}"></script>
</body>

</html>