{% extends 'index.html' %}

{% load static %}

{% block title %}
    Lampada | Tüm Ürünler
{% endblock %}

{% block content %}
    <!-- urunler (sadece bu sayfa için, yüklenen tüm ürünler buraya geliyor) -->
    <section class="products py-5">
        <div class="container">
            <h6 class="minihead text-center">Tüm Ürünler Burada</h6>
            <h6 class="mdhead text-center">Tüm Ürünler</h6>
            <hr class="headhr">

            <div class="row mt-4">
                <div class="col-md-6 sort-options-left my-3 d-flex align-items-center">
                    <form method="GET" action="{% url 'allProduct' %}" class="d-flex justify-content-between align-items-center me-4 w-100">
                        {% csrf_token %}
                        <input type="text" name="search_query" placeholder="Ürün Ara" class="pt-2 pb-2 ps-2 pe-2 me-2" style="width: 100%;">
                        <button type="submit" class="btn btn-primary pb-2 pt-2 ps-4 pe-4">Ara</button>
                    </form>
                </div>
                <div class="col-6 sort-options-right my-3 d-flex justify-content-md-end align-items-center">
                    <ul class="nav-item dropdown m-0 p-0">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Sırala
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="?sort_option=asc"><i class="fa-solid fa-arrow-up"></i> Artan Fiyat</a></li>
                            <li><a class="dropdown-item" href="?sort_option=desc"><i class="fa-solid fa-arrow-down"></i> Azalan Fiyat</a></li>
                            <li>
                        </ul>
                    </ul>
                </div>
                <div class="col-6 responsive-filter-button my-3">
                    <button class="btn btn-primary py-2 px-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="fa-solid fa-list-ul"></i></button>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-3 mt-3 col-filtre-section">
                    <div class="filtre_section p-3">
                        <h6>Ürünleri Filtrele</h6>
                        <hr>
                        <h6>Modeller</h6>
                        <ul>
                            {% for urun in urun_sayisi %}
                                {% if urun.urun_sayisi == 1 %}
                                    <li>
                                        <a class="fw-light" href="?search_query={{ urun.isim }}">{{ urun.isim }}</a>
                                    </li>
                                {% else %}
                                    <li>
                                        <a class="fw-light" href="?search_query={{ urun.isim }}">{{ urun.isim }} ({{ urun.urun_sayisi }})</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <hr>
                        <h6>Şapka Rengi</h6>
                        <ul>
                            {% for renk in renk_sayisi %}
                                {% if renk.renk_sayisi == 1 %}
                                    <li>
                                        <a class="fw-light" href="?search_query={{ renk.urunRengi }}">{{ renk.urunRengi }}</a>
                                    </li>
                                {% else %}
                                    <li>
                                        <a class="fw-light" href="?search_query={{ renk.urunRengi }}">{{ renk.urunRengi }} ({{ renk.renk_sayisi }})</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <hr>
                        <h6>Ayak Kaplama</h6>
                        <ul>
                            {% for kaplama in kaplama_sayisi %}
                                {% if kaplama.kaplama_sayisi == 1 %}
                                    <li>
                                        <a class="text-uppercase fw-light" href="?ayak_kaplama={{ kaplama.ayakKaplama }}">{{ kaplama.ayakKaplama }}</a>
                                    </li>
                                {% else %}
                                    <li>
                                        <a class="text-uppercase fw-light" href="?ayak_kaplama={{ kaplama.ayakKaplama }}">{{ kaplama.ayakKaplama }} ({{ kaplama.kaplama_sayisi }})</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        {% if indirimli_urun_sayisi %}
                        <hr>
                        <h6>İndirimli Ürünler</h6>
                        <ul>
                            <li>
                                <a href="?indirimli_urunler=true">Şu An İndirimde Olanlar: ({{ indirimli_urun_sayisi }})</a>
                            </li>
                        </ul>
                        {% endif %}

                        <hr>

                        <form method="GET" action="{% url 'allProduct' %}">
                            <h6>Fiyat Aralığı</h6>
                            <ul>
                                <li>
                                    <label for="min_fiyat" style="width: 45px;">En az:</label>
                                    <input type="number" id="min_fiyat" name="min_fiyat" value="{{ request.GET.min_fiyat }}">
                                </li>
                                <li class="mt-2">
                                    <label for="max_fiyat" style="width: 45px;">En çok:</label>
                                    <input type="number" id="max_fiyat" name="max_fiyat" value="{{ request.GET.max_fiyat }}">
                                </li>
                            </ul>
                            <button type="submit" class="btn btn-primary py-2">Ürünleri Getir</button>
                        </form>

                    </div>
                </div>
                <div class="col-lg-9">
                    {% if urun_bulunamadi %}
                    <p class="mt-3">Belirtmiş olduğunuz fiyat aralığında ürün bulunamamıştır.</p>
                    {% endif %}
                    {% if no_results %}
                    <p class="mt-3">Arama sorgunuz için sonuç bulunamadı.</p>
                    {% endif %}
                    <div class="row">
                    {% for urun in urunler %}
                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 mt-3">
                        <a class="card" href="{% url 'product' urun.id %}">
                            {% if urun.indirimli_fiyat %}
                            <div class="sale">
                                <p>İndirim</p>
                            </div>
                            {% endif %}
                            <div class="imgbox">
                                <img src="{{ urun.urunresmi.url }}" alt="">
                            </div>
                            <div class="text-box">
                                <p class="name">{{ urun.isim }}</p>
                            </div>
                            <div class="price-content">
                                <div class="price-box">
                                    {% if urun.indirimli_fiyat %}
                                    <p class="price fw-lighter"><del>{{ urun.fiyat }} TL</del></p>
                                    <p class="discounted-price ms-3">{{ urun.indirimli_fiyat }} TL</p>
                                    {% else %}
                                    <p class="price">{{ urun.fiyat }} TL</p>
                                    {% endif %}
                                </div>
                                <button class="btn btn-primary">İncele</button>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                    </div>
                </div>
            </div>

            <div class="row mt-5 collection-parent wrapperone">
                <div class="col-lg-12 mt-3">
                    {% for wrapper in wrapperone %}
                        <div class="text-box">
                            <p class="text-center pt-4 fs-2">{{ wrapper.wrapperText }}</p>
                        </div>
                        <a href="{% url 'allProduct' %}" class="btn btn-primary mt-5">Alışverişe Başla</a>
                        <div class="owl-carousel owl-theme owl-carouseltwo">
                        
                            {% if wrapper.wrapperResim1 %}
                                <div class="item">
                                    <div class="card">
                                        <div class="imgbox">
                                            <img src="{{ wrapper.wrapperResim1.url }}"
                                                alt="">
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if wrapper.wrapperResim2 %}
                                <div class="item">
                                    <div class="card">
                                        <div class="imgbox">
                                            <img src="{{ wrapper.wrapperResim2.url }}"
                                                alt="">
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if wrapper.wrapperResim3 %}
                                <div class="item">
                                    <div class="card">
                                        <div class="imgbox">
                                            <img src="{{ wrapper.wrapperResim3.url }}"
                                                alt="">
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if wrapper.wrapperResim4 %}
                                <div class="item">
                                    <div class="card">
                                        <div class="imgbox">
                                            <img src="{{ wrapper.wrapperResim4.url }}"
                                                alt="">
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if wrapper.wrapperResim5 %}
                                <div class="item">
                                    <div class="card">
                                        <div class="imgbox">
                                            <img src="{{ wrapper.wrapperResim5.url }}"
                                                alt="">
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div> 
            </div>
        </div>
    </section>

    <!-- offcanvas-rigth-filter -->

    {% include 'includes/_offcanvas-right-filter.html' %}
{% endblock content %}