{% load static %}
<!doctype html>
<html lang="tr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lambada Aydınlatma</title>

    <!-- bs css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <!-- Open Sans Googe Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">

    <!-- Oswald  Googe Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap" rel="stylesheet">

    <!-- owl carousel css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <!-- style css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <!-- navbar -->
    {% include 'includes/_navbar.html' %}

    <!-- offcanvas-menu -->
    {% include 'includes/_offcanvas-menu.html' %}
    

    <!-- urunler (sadece bu sayfa için, yüklenen tüm ürünler buraya geliyor) -->
    <section class="products py-5">
        <div class="container">
            <h6 class="minihead text-center">Tüm Ürünler Burada</h6>
            <h6 class="mdhead text-center">{{ kategori }}</h6>
            <hr class="headhr">

            <div class="row mt-4">
                <div class="col-md-6 sort-options-left my-3 d-flex align-items-center">
                    <form method="GET" action="{% url 'category' categoryName=kategori %}" class="d-flex justify-content-between align-items-center me-4 w-100">
                        {% csrf_token %}
                        <input type="text" name="search_query" placeholder="Ürün Ara" class="pt-2 pb-2 ps-2 pe-2 me-2" style="width: 100%;">
                        <button type="submit" class="btn btn-primary pb-2 pt-2 ps-4 pe-4">Ara</button>
                    </form>
                </div>
                <div class="col-6 sort-options-right my-3 d-flex align-items-center justify-content-md-end">
                    <ul class="nav-item dropdown m-0 p-0">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Sırala
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="?sort_option=asc"><i class="fa-solid fa-arrow-up"></i> Artan Fiyat</a></li>
                            <li><a class="dropdown-item" href="?sort_option=desc"><i class="fa-solid fa-arrow-down"></i> Azalan Fiyat</a></li>
                            <li>
                        </ul>
                    </ul>
                </div>
                <div class="col-6 responsive-filter-button my-3">
                    <button class="btn btn-primary py-2 px-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="fa-solid fa-list-ul"></i></button>
                </div>
            </div>

            

            <div class="row mt-2">
                <div class="col-3 mt-3 col-filtre-section">
                    <div class="filtre_section p-3">
                        <h6>Ürünleri Filtrele</h6>
                        <hr>
                        <h6>Modeller</h6>
                        <ul>
                            {% for urun in urun_sayisi %}
                                {% if urun.urun_sayisi == 1 %}
                                    <li>
                                        <a href="?search_query={{ urun.isim }}">{{ urun.isim }}</a>
                                    </li>
                                {% else %}
                                    <li>
                                        <a href="?search_query={{ urun.isim }}">{{ urun.isim }} ({{ urun.urun_sayisi }})</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <hr>
                        <h6>Şapka Rengi</h6>
                        <ul>
                            {% for renk in renk_sayisi %}
                                {% if renk.renk_sayisi == 1 %}
                                    <li>
                                        <a href="?search_query={{ renk.urunRengi }}">{{ renk.urunRengi }}</a>
                                    </li>
                                {% else %}
                                    <li>
                                        <a href="?search_query={{ renk.urunRengi }}">{{ renk.urunRengi }} ({{ renk.renk_sayisi }})</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <hr>
                        <h6>Ayak Kaplama</h6>
                        <ul>
                            {% for kaplama in kaplama_sayisi %}
                                {% if kaplama.kaplama_sayisi == 1 %}
                                    <li>
                                        <a class="text-uppercase" href="?ayak_kaplama={{ kaplama.ayakKaplama }}">{{ kaplama.ayakKaplama }}</a>
                                    </li>
                                {% else %}
                                    <li>
                                        <a class="text-uppercase" href="?ayak_kaplama={{ kaplama.ayakKaplama }}">{{ kaplama.ayakKaplama }} ({{ kaplama.kaplama_sayisi }})</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        {% if indirimli_urun_sayisi %}
                        <hr>
                        <h6>İndirimli Ürünler</h6>
                        <ul>
                            <li>
                                <a href="?indirimli_urunler=true">Şu An İndirimde Olanlar: ({{ indirimli_urun_sayisi }})</a>
                            </li>
                        </ul>
                        {% endif %}
                        <hr>

                        <form method="GET" action="{% url 'category' categoryName=categoryName %}">
                            <h6>Fiyat Aralığı</h6>
                            <ul>
                                <li>
                                    <label for="min_fiyat" style="width: 45px;">En az:</label>
                                    <input type="number" id="min_fiyat" name="min_fiyat" value="{{ request.GET.min_fiyat }}">
                                </li>
                                <li class="mt-2">
                                    <label for="max_fiyat" style="width: 45px;">En çok:</label>
                                    <input type="number" id="max_fiyat" name="max_fiyat" value="{{ request.GET.max_fiyat }}">
                                </li>
                            </ul>
                            <button type="submit" class="btn btn-primary py-2">Ürünleri Getir</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-9">
                    {% if urun_bulunamadi %}
                    <p class="mt-3">Belirtmiş olduğunuz fiyat aralığında ürün bulunamamıştır.</p>
                    {% endif %}
                    {% if no_results %}
                    <p class="mt-3">Arama sorgunuz için sonuç bulunamadı.</p>
                    {% endif %}
                    <div class="row">
                    {% for urun in urunler %}
                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 mt-3">
                        <a class="card" href="{% url 'product' urun.id %}">
                            {% if urun.indirimli_fiyat %}
                                <div class="sale">
                                    <p>İndirim</p>
                                </div> 
                            {% endif %}
                            <div class="imgbox">
                                <img src="{{ urun.urunresmi.url }}" alt="">
                            </div>
                            <div class="text-box">
                                <p class="name">{{ urun.isim }}</p>
                            </div>
                            <div class="price-content">
                                <div class="price-box">
                                    {% if urun.indirimli_fiyat %}
                                    <p class="price fw-lighter"><del>{{ urun.fiyat }} TL</del></p>
                                    <p class="discounted-price ms-3">{{ urun.indirimli_fiyat }} TL</p>
                                    {% else %}
                                    <p class="price">{{ urun.fiyat }} TL</p>
                                    {% endif %}
                                </div>
                                <button class="btn btn-primary">İncele</button>
                            </div>
                        </a>
                    </div>
                {% endfor %} 
                </div>
            </div>

            {% if no_results %}
                <p>Arama sorgunuz için sonuç bulunamadı.</p>
            {% endif %}

            <div class="row mt-5 collection-parent wrapperone">
                <div class="col-lg-12 mt-3">
                    {% for wrapper in wrapperone %}
                        <div class="text-box">
                            <p class="text-center pt-4 fs-2">{{ wrapper.wrapperText }}</p>
                        </div>
                        <a href="{% url 'allProduct' %}" class="btn btn-primary mt-5">Alışverişe Başla</a>
                        <div class="owl-carousel owl-theme owl-carouseltwo">
                        
                            {% if wrapper.wrapperResim1 %}
                                <div class="item">
                                    <div class="card">
                                        <div class="imgbox">
                                            <img src="{{ wrapper.wrapperResim1.url }}"
                                                alt="">
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if wrapper.wrapperResim2 %}
                                <div class="item">
                                    <div class="card">
                                        <div class="imgbox">
                                            <img src="{{ wrapper.wrapperResim2.url }}"
                                                alt="">
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if wrapper.wrapperResim3 %}
                                <div class="item">
                                    <div class="card">
                                        <div class="imgbox">
                                            <img src="{{ wrapper.wrapperResim3.url }}"
                                                alt="">
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if wrapper.wrapperResim4 %}
                                <div class="item">
                                    <div class="card">
                                        <div class="imgbox">
                                            <img src="{{ wrapper.wrapperResim4.url }}"
                                                alt="">
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if wrapper.wrapperResim5 %}
                                <div class="item">
                                    <div class="card">
                                        <div class="imgbox">
                                            <img src="{{ wrapper.wrapperResim5.url }}"
                                                alt="">
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div> 
            </div>
        </div>
    </section>

    <!-- offcanvas-rigth-filter -->

    {% include 'includes/_offcanvas-right-filter.html' %}

    <!-- footer -->
    {% include 'includes/_footer.html' %}



    <!-- bs js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

    <!-- owl carousel min js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <!-- owl-carousel-js (silme)-->
    <script src="{% static 'js/owl-carousel.js' %}"></script>

    <!-- app js -->
    <script src="{% static 'js/app.js' %}"></script>
</body>

</html>