{% extends 'index.html' %}

{% load static %}

{% block title %}
    Lampada | İletişim
{% endblock %}

{% block content %}
    <!-- İletişim Bilgileri (Telefon, Mail, Adres) -->
    <section class="contact-us py-5">
        <h4 class="minihead text-center">Bizimle İletişime Geç</h4>
        <h2 class="mdhead text-center">Bize Ulaşın</h2>
        <hr class="headhr">
        <div class="container py-4">
            <div class="row">
                <div class="col-md-4">
                    <div class="card py-5 mt-3">
                        <i class="fa-solid fa-phone"></i>
                        <h5 class="fw-bold">Telefon Numaramız</h5>
                        <h6 class="text-muted">{{ footer.company_phone }}</h6>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card py-5 mt-3">
                        <i class="fa-regular fa-envelope"></i>
                        <h5 class="fw-bold">Email Adresimiz</h5>
                        <h6 class="text-muted">{{ footer.company_email }}</h6>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card py-5 mt-3">
                        <i class="fa-solid fa-location-dot"></i>
                        <h5 class="fw-bold">Adresimiz</h5>
                        <h6 class="text-muted">{{ footer.company_address }}</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Google Maps Konum -->
    <section class="maps py-5">
        <div class="container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3009.573538494585!2d28.81556847577711!3d41.03458517134689!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caa4febd252e83%3A0x923b58159954cb20!2zMTUgVGVtbXV6LCAxNDg2LiBTay4gTm86MjcsIDM0MjEyIEJhxJ9jxLFsYXIvxLBzdGFuYnVs!5e0!3m2!1str!2str!4v1686066274747!5m2!1str!2str" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>

    <!-- Mesaj Gönderme Formu -->
    <section class="get-in-touch py-5">
        <h4 class="minihead text-center">Temasta Ol</h4>
        <h2 class="mdhead text-center">Bize Mesaj Gönder</h2>
        <hr class="headhr">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-10">
                    <!-- <form class="card py-4 px-5 mt-5 form-card gap-3" onsubmit="sendEmail(event)">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4" class="mt-3">Adınız <sup>*</sup></label>
                                <input type="text" class="form-control" id="inputName" placeholder="Adınız">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4" class="mt-3">Soyadınız <sup>*</sup></label>
                                <input type="text" class="form-control" id="inputSurname" placeholder="Soyadınız">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAddress">Email <sup>*</sup></label>
                            <input type="email" class="form-control" id="inputEmail" placeholder="Email adresini yazınız">
                        </div>
                        <div class="form-group">
                            <label for="inputAddress2">Mesajınız <sup>*</sup></label>
                            <textarea class="form-control" name="message" id="inputMessage" cols="30" rows="10" placeholder="Mesajınızı yazınız"></textarea>
                        </div>
                        <button type="submit" class="">Gönder</button>
                    </form> -->
                    <form class="card py-4 px-5 mt-5 form-card gap-3" onsubmit="sendEmail(event)">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="inputName" class="mt-3">Adınız <sup>*</sup></label>
                                <input type="text" class="form-control" id="inputName" placeholder="Adınız">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputSurname" class="mt-3">Soyadınız <sup>*</sup></label>
                                <input type="text" class="form-control" id="inputSurname" placeholder="Soyadınız">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail">Email <sup>*</sup></label>
                            <input type="email" class="form-control" id="inputEmail" placeholder="Email adresini yazınız">
                        </div>
                        <div class="form-group">
                            <label for="inputMessage">Mesajınız <sup>*</sup></label>
                            <textarea class="form-control" name="message" id="inputMessage" cols="30" rows="10" placeholder="Mesajınızı yazınız"></textarea>
                        </div>
                        <button type="submit">Gönder</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}