{% extends 'index.html' %}

{% load static %}

{% block title %}
    Lampada | Hesabım
{% endblock %}

{% block content %}
    <!-- İletişim Bilgileri (Telefon, Mail, Adres) -->
    <section class="contact-us py-5">
        <h4 class="minihead text-center">Hoşgeldin</h4>
        <h4 class="minihead text-center fw-bold text-uppercase">{{ user.get_full_name }}</h4>
        <h2 class="mdhead text-center">Hesabım</h2>
        <hr class="headhr">
    </section>

    <section class="user-account">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form action="{% url 'update_profile' %}" method="POST">
                        {% csrf_token %}

                        {% if messages %}
                        {% for message in messages %}
                        <div
                            class="alert {% if message.tags %}{% if 'error' in message.tags %}alert-danger{% else %}alert-{{ message.tags }}{% endif %}{% endif %}">
                            {{ message }}
                        </div>
                        {% endfor %}
                        {% endif %}

                        <div class="row">
                            <div class="col-md-6 membership">
                                <h6 class="fw-bold"><i class="fa-solid fa-user"></i> Üyelik Bilgilerim</h6>
                                <hr>
                                <label for="username">Kullanıcı Adı:</label>
                                <input type="text" name="username" value="{{ user.username }}">
                                <label for="firstname">Adı:</label>
                                <input type="text" name="firstname" value="{{ user.first_name }}">
                                <label for="lastname">Soyadı:</label>
                                <input type="text" name="lastname" value="{{ user.last_name }}">
                                <label for="email">Email:</label>
                                <input type="email" name="email" value="{{ user.email }}">
                                <label for="phone">Telefon:</label>
                                <input type="number" name="phone" value="{{ user.phone }}">
                            </div>
                            <div class="col-md-6 address-info">
                                <h6 class="fw-bold"><i class="fa-solid fa-location-dot"></i> Adres Bilgilerim</h6>
                                <hr>
                                <label for="country">Ülke: </label>
                                <select name="country" id="country">
                                    <option value="turkey">Türkiye</option>
                                </select>
                                <label for="city">Şehir: </label>
                                <select name="city">
                                    <option value="">Seçiniz</option>
                                    {% for option in city_options %}
                                    <option value="{{ option.value }}"
                                        {% if user.city == option.value %}selected{% endif %}>{{ option.label }}
                                    </option>
                                    {% endfor %}
                                </select>
                                <label for="district">İlçe: </label>
                                <input type="text" name="district" value="{{ user.district }}">
                                <label for="address">Adres: </label>
                                <textarea class="p-3" name="address" cols="30" rows="3">{{ user.address }}</textarea>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Kaydet</button>
                        <a href="{% url 'new_password' %}" class="btn btn-primary" >Parolamı Güncelle</a>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}