{% extends 'index.html' %}

{% load static %}

{% block title %}
    Lampada | Giriş Yap
{% endblock %}

{% block content %}
    <section class="register">
        <div class="container">
            <h6 class="minihead text-center mt-5">Anasayfa / <span>Giriş Yap</span></h6>
            <h6 class="mdhead text-center">Giriş Yap</h6>
            <hr class="headhr">
            <div class="row mt-5 justify-content-center">
                <div class="col-md-7">
                    <form action="" method="POST">
                        {% csrf_token %}

                        {% if error %}
                            <div class="alert alert-danger">
                                {{ error }}
                            </div>
                        {% endif %}
                        
                        <label for="username">Kullanıcı Adı:</label>
                        <input class="register-input" type="text" placeholder="Kullanıcı Adınızı Giriniz" name="username">
                        <label for="password">Şifrenizi Giriniz: </label>
                        <input class="register-input" type="password" placeholder="Şifrenizi Giriniz (En az 8 karakter olmalıdır)" name="password">
                        <input type="checkbox" class="register-checkbox me-2" name="remember_me">
                        <label for="" style="cursor: pointer; font-size: 14px; text-decoration:underline;">Beni Hatırla</label>
                        <label for="" class="d-inline ms-5" style="cursor: pointer;font-size: 16px; text-decoration:underline;"><a href="" class="text-black">Şifremi Unuttum</a></label> 
                        <button type="submit" value="Login" class="btn btn-primary d-block mt-5">Giriş Yap</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}