{% extends 'index.html' %}

{% load static %}

{% block title %}
    Lampada | Alışveriş Sepeti
{% endblock %}

{% block content %}
    <!-- sepet alanı -->
    <section class="products py-5">
        <div class="container">
            <h6 class="minihead text-center">Alışveriş</h6>
            <h6 class="mdhead text-center">Sepetim</h6>
            <hr class="headhr">  
            {% if messages %}

                                
                {% for mesaj in messages %}
                    <div class="alert alert-success text-center mt-3" id='mesaj'>
                        {{ mesaj }}
                    </div>
                {% endfor %}
            

            {% endif %}
            <div class="border px-4 mt-5 sepet">

                {% if sepetim.exists %}
                <div class="row mt-4">
                    <div class="col-2">
                        <h6>Ürün Resmi</h6>
                    </div>
                    <div class="col-2">
                        <h6>Ürün İsmi</h6>
                    </div>
                    <div class="col-2">
                        <h6>Birim Fiyatı</h6>
                    </div>
                    <div class="col-2">
                        <h6>Adet</h6>
                    </div>
                    <div class="col-2">
                        <h6>Toplam</h6>
                    </div>
                    <div class="col-2">
                        <h6>Sepetten Çıkar</h6>
                    </div>
                </div>
                <hr>
                {% else %}
                <p></p>
                {% endif %}
                {% if sepetim.exists %}
                    {% for urun in sepetim %}
                    <div class="row mt-2 d-flex align-items-center">
                        <div class="col-2">
                            <img src="{{ urun.urun.urunresmi.url }}" alt="" width="70px">
                        </div>
                        <div class="col-2">
                            <p>{{ urun.urun.isim }}</p>
                        </div>
                        <div class="col-2">
                            <p>
                                {% if urun.urun.indirimli_fiyat %}
                                <sup class="text-danger"><del>{{ urun.urun.fiyat }} TL</del></sup>
                                    {{ urun.urun.indirimli_fiyat }} TL
                                {% else %}
                                    {{ urun.urun.fiyat }} TL
                                {% endif %}
                            </p>
                        </div>
                        <div class="col-2">
                            <!-- <p>{{ urun.adet }} Adet</p> -->
                            <form action="" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="urunId" value="{{ urun.id }}">
                                <!-- <label for="">Adet: </label> -->
                                <input type="number" name="yeniAdet" value="{{ urun.adet }}" class="border-0 adetInput " style="width: 50px;">
                                <input type="submit" value="Güncelle" name="guncelle" class="btn btn-primary py-1 px-2 fw-light">
                            </form>
                        </div>
                        <div class="col-2">
                            <p>{{ urun.toplam|floatformat:2}} TL</p>
                        </div>
                        <div class="col-2">
                            <form action="" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="urunId" value="{{ urun.id }}">
                                <input type="submit" class="btn btn-close py-2" value="">
                            </form>
                        </div>
                    </div>
                    <hr>
                    {% endfor %}
                {% else %}
                    <div class="d-flex flex-column align-items-center gap-4 mt-5">
                        <p class="text-center" style="font-size: 20px;">Sepetinizde ürün bulunmuyor.</p>
                        <i class="fa-solid fa-cart-shopping m-auto" style="font-size: 100px;"></i>
                    </div>
                {% endif %}
                <div class="row py-3">
                    <div class="col-6">
                    </div>
                {% if sepetim.exists %}
                    <div class="col-6 mb-3 d-flex justify-content-end">
                        <div class="row">
                            <div class="col-6 text-end">
                                <p>Ürün Sayısı : </p>
                                <p>Ara Toplam : </p>
                                <p>KDV (%20) : </p>
                                <p>Genel Toplam : </p>
                            </div>
                            <div class="col-6 ">
                                <p class="fw-bold" style="color: crimson;">{{ toplam_urun_sayisi }}</p>
                                <p class="fw-bold" style="color: crimson;">{{ araToplam }} TL</p>
                                <p class="fw-bold" style="color: crimson;">{{ kdv }} TL</p>
                                <p class="fw-bold" style="color: crimson;">{{ toplam_tutar }} TL</p>
                            </div>
                            <a href="{% url 'teslimat' %}" class="d-inline ms-auto mt-3 btn btn-primary py-2 me-5" style="width: 150px;">Ödeme Yap</a>
                            
                        </div>
                        <!-- <p class="fw-bolder"><span class=" fw-light">Toplam Ürün Sayısı:</span> {{ toplam_urun_sayisi }}</p>
                        <p class="fw-bolder"><span class="fw-light">Toplam Tutar:</span> {{ toplam_tutar }} TL</p> -->
                    </div>
                    {% else %}
                        <p></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}