{% extends 'index.html' %}

{% load static %}

{% block title %}
    Lampada | Teslimat Bilgileri
{% endblock %}

{% block content %}
    <!-- İletişim Bilgileri (Telefon, Mail, Adres) -->
    <section class="contact-us py-5">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-8">
                    <div class="row" style="border: 1px solid #d2d2d2;">
                        <div class="col-4 p-3 bg-dark-subtle">
                            <h5 class="mb-0 text-center fw-bold">1. Teslimat Bilgileri</h5>
                        </div>
                        <div class="col-4 p-3">
                            <h5 class="mb-0 text-center text-muted">2. Ödeme İşlemleri</h5>
                        </div>
                        <div class="col-4 p-3">
                            <h5 class="mb-0 text-center text-muted">3. Ödeme Sipariş Onayı</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="user-account">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <!-- <form action="{% url 'teslimat' %}" method="POST">
                        <h5 class="text-center"><i class="fa-solid fa-truck"></i> Teslimat Bilgilerini Düzenle</h5>
                        <hr>
                        <div class="row">
                            <div class="col-md-6 membership">
                                <label for="">Adı:</label>
                                <input type="text">
                                <label for="">Soyadı:</label>
                                <input type="text">
                                <label for="">Email:</label>
                                <input type="email">
                                <label for="">Telefon:</label>
                                <input type="tel" name="" id="">
                            </div>
                            <div class="col-md-6 address-info">
                                <label for="">Ülke: </label>
                                <select name="" id="">
                                <option value="">
                                    Türkiye
                                </option>
                                </select>
                                <label for="">Şehir: </label>
                                <select name="Sehir">
                                    <option value="34">İstanbul</option>
                                    <option value="1">Adana</option>
                                    <option value="2">Adıyaman</option>
                                    <option value="3">Afyonkarahisar</option>
                                    <option value="4">Ağrı</option>
                                    <option value="5">Amasya</option>
                                    <option value="6">Ankara</option>
                                    <option value="7">Antalya</option>
                                    <option value="8">Artvin</option>
                                    <option value="9">Aydın</option>
                                    <option value="10">Balıkesir</option>
                                    <option value="11">Bilecik</option>
                                    <option value="12">Bingöl</option>
                                    <option value="13">Bitlis</option>
                                    <option value="14">Bolu</option>
                                    <option value="15">Burdur</option>
                                    <option value="16">Bursa</option>
                                    <option value="17">Çanakkale</option>
                                    <option value="18">Çankırı</option>
                                    <option value="19">Çorum</option>
                                    <option value="20">Denizli</option>
                                    <option value="21">Diyarbakır</option>
                                    <option value="22">Edirne</option>
                                    <option value="23">Elazığ</option>
                                    <option value="24">Erzincan</option>
                                    <option value="25">Erzurum</option>
                                    <option value="26">Eskişehir</option>
                                    <option value="27">Gaziantep</option>
                                    <option value="28">Giresun</option>
                                    <option value="29">Gümüşhane</option>
                                    <option value="30">Hakkâri</option>
                                    <option value="31">Hatay</option>
                                    <option value="32">Isparta</option>
                                    <option value="33">Mersin</option>
                                    <option value="35">İzmir</option>
                                    <option value="36">Kars</option>
                                    <option value="37">Kastamonu</option>
                                    <option value="38">Kayseri</option>
                                    <option value="39">Kırklareli</option>
                                    <option value="40">Kırşehir</option>
                                    <option value="41">Kocaeli</option>
                                    <option value="42">Konya</option>
                                    <option value="43">Kütahya</option>
                                    <option value="44">Malatya</option>
                                    <option value="45">Manisa</option>
                                    <option value="46">Kahramanmaraş</option>
                                    <option value="47">Mardin</option>
                                    <option value="48">Muğla</option>
                                    <option value="49">Muş</option>
                                    <option value="50">Nevşehir</option>
                                    <option value="51">Niğde</option>
                                    <option value="52">Ordu</option>
                                    <option value="53">Rize</option>
                                    <option value="54">Sakarya</option>
                                    <option value="55">Samsun</option>
                                    <option value="56">Siirt</option>
                                    <option value="57">Sinop</option>
                                    <option value="58">Sivas</option>
                                    <option value="59">Tekirdağ</option>
                                    <option value="60">Tokat</option>
                                    <option value="61">Trabzon</option>
                                    <option value="62">Tunceli</option>
                                    <option value="63">Şanlıurfa</option>
                                    <option value="64">Uşak</option>
                                    <option value="65">Van</option>
                                    <option value="66">Yozgat</option>
                                    <option value="67">Zonguldak</option>
                                    <option value="68">Aksaray</option>
                                    <option value="69">Bayburt</option>
                                    <option value="70">Karaman</option>
                                    <option value="71">Kırıkkale</option>
                                    <option value="72">Batman</option>
                                    <option value="73">Şırnak</option>
                                    <option value="74">Bartın</option>
                                    <option value="75">Ardahan</option>
                                    <option value="76">Iğdır</option>
                                    <option value="77">Yalova</option>
                                    <option value="78">Karabük</option>
                                    <option value="79">Kilis</option>
                                    <option value="80">Osmaniye</option>
                                    <option value="81">Düzce</option>
                                </select>
                                <label for="">İlçe: </label>
                                <input type="text">
                                <label for="">Adres: </label>
                                <textarea class="p-3" name="" id="" cols="30" rows="3"></textarea>
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit">Ödeme İşlemlerine Geç</button>
                        <a href="{% url 'sepet' %}" class="btn btn-primary" type="submit">Vazgeç</a>
                    </form> -->


                    <form action=""  method="POST">
                        {% csrf_token %}

                        {% if messages %}
                        {% for message in messages %}
                        <div
                            class="alert text-center mb-3 {% if message.tags %}{% if 'error' in message.tags %}alert-danger{% else %}alert-{{ message.tags }}{% endif %}{% endif %}">
                            {{ message }}
                        </div>
                        {% endfor %}
                        {% endif %}

                        <h5 class="text-center"><i class="fa-solid fa-truck"></i> Teslimat Bilgilerini Düzenle</h5>
                        <hr>
                        <div class="row">
                            <div class="col-md-6 membership membership-teslimat py-4">
                                <p>Kullanıcı bilgilerinizi "Profil Ayarları" kısmından değiştirebilirsiniz.</p>
                                <label  for="username">Kullanıcı Adı:</label>
                                <input type="text" name="username" value="{{ user.username }}" readonly>
                                <label for="firstname">Adı:</label>
                                <input type="text" name="firstname" value="{{ user.first_name }}" readonly>
                                <label for="lastname">Soyadı:</label>
                                <input type="text" name="lastname" value="{{ user.last_name }}" readonly>
                                <label for="email">Email:</label>
                                <input type="email" name="email" value="{{ user.email }}" readonly>
                                <label for="phone">Telefon:</label>
                                <input type="number" name="phone" value="{{ user.phone }}" readonly>
                            </div>
                            <div class="col-md-6 address-info py-4">
                                <label for="country">Ülke: </label>
                                <select name="country" id="country">
                                    <option value="turkey">Türkiye</option>
                                </select>
                                <label for="city">Şehir: </label>
                                <select name="city" required>
                                    <option value="">Seçiniz</option>
                                    {% for option in city_options %}
                                    <option value="{{ option.value }}"
                                        {% if user.city == option.value %}selected{% endif %}>{{ option.label }}
                                    </option>
                                    {% endfor %}
                                </select>
                                <label for="district">İlçe: </label>
                                <input type="text" name="district" value="{{ user.district }}" required>
                                <label for="address">Adres: </label>
                                <textarea class="p-2" name="address" cols="30" rows="4" required>{{ user.address }}</textarea>
                            </div>
                        </div>
                    
                        <button type="submit" class="btn btn-primary mt-5">Kaydet</button>
                    </form>

                </div>
                <div class="col-md-4 card p-4 position-relative">
                    <h5 class="mb-0 text-center mt-2"><i class="fa-solid fa-cart-shopping"></i> Sepet Özeti</h5>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <h6 class="mb-0">Ürün Sayısı: </h6> <h6 class="mb-0"> {{ toplam_urun_sayisi }} </h6>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <h6 class="mb-0">Ara Toplam: </h6> <h6 class="mb-0"> {{ araToplam }} TL </h6>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <h6 class="mb-0">KDV Tutarı (%20) : </h6> <h6 class="mb-0">{{ kdv }} TL</h6>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <h6 class="mb-0">Ara Toplam + KDV: </h6> <h6 class="mb-0"> {{ toplam_tutar }} TL</h6>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <h6 class="mb-0">Kargo Tutarı: </h6> <h6 class="mb-0">0,00 TL</h6>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <h5 class="mb-0">Genel Toplam: </h5> <h5 class="mb-0 text-danger">{{ toplam_tutar }} TL</h5>
                    </div>
                    <form action="{% url 'teslimat' %}" method="POST" class="py-0 px-0" style="border: none; position: absolute; right: 32px; bottom: 32px; ">
                        {% csrf_token %}
                        <input type="submit" name="odeme" value="odemeye geç" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}