{% load static %}




    

    
<footer class="text-center text-lg-start bg-white text-muted pt-5">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span>Sosyal Ağlarda Bizimle Bağlantı Kurun:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
            {% for social_media in social_media.all %}
                <a target="_blank" href="{{ social_media.link }}" class="me-4 link-secondary text-decoration-none socail-media">
                    <img src="{{ social_media.photo.url }}" alt="{{ social_media.name }}" width="25px">
                </a>
            {% endfor %}
            <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <img src="{% static 'img/lampadalogo2.png' %}" width="40px" alt=""> LAMPADA AYDINLATMA
                    </h6>
                    <p>{{ footer.site_description }}</p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Kurumsal
                    </h6>
                    <p>
                        <a href="{% url 'about-us' %}" class="text-reset text-decoration-none">Hakkımızda</a>
                    </p>
                    <p>
                        <a href="{% url 'contact-us' %}" class="text-reset text-decoration-none">İletişim</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset text-decoration-none">Yardım</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Kategori
                    </h6>
                    <p>
                        <a href="{% url 'allProduct' %}" class="text-reset text-decoration-none">Tüm Ürünler</a>
                    </p>
                    {% for anakategori in anakategori %}
                    <p>
                        <a href="{% url 'category' anakategori.anakategoriBaslik %}" class="text-reset text-decoration-none">{{ anakategori.anakategoriBaslik }}</a>
                    </p>
                    {% endfor %}
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">İletişim</h6>
                    <p><i class="fas fa-home me-3 text-secondary"></i> {{ footer.company_address }}</p>
                    <p>
                        <i class="fas fa-envelope me-3 text-secondary"></i>
                        info@example.com
                    </p>
                    <p><i class="fas fa-phone me-3 text-secondary"></i> {{ footer.company_phone }}</p>
                    <p><i class="fa-brands fa-whatsapp me-3 text-secondary" style="font-weight: 900; font-size: large;"></i> {{ footer.whatsapp_number }}</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
        © 2023:
        <a class="text-reset fw-bold" href="{% url 'index' %}">Lampada Aydınlatma</a>
    </div>
    <!-- Copyright -->
</footer>
