
{% load static %}



<nav class="navbar navbar-expand-lg bg-body-tertiary public-navbar px-4">
    <div class="container-fluid">
        <a class="navbar-brand me-xl-5 pe-xl-5" href="{% url 'index' %}">
            <img src="{% static 'img/lampadalogo2.png' %}" width="75px" alt="">
        </a>

        <!-- responsive login/register/exit -->
        <div class="responsive-login-register">
            
            {% if user.is_authenticated %}
            <!-- eğer giriş yapmış ise display flex olacak if döndürücez -->
            <a class="nav-link" href="#">{{ user.get_full_name }}</a>
            <a class="nav-link" href="{% url 'logout' %}"><i class="fa-solid fa-power-off"></i></a>
            <a href="#" class="nav-link" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="fa-solid fa-cart-shopping mt-1"></i>:  {{ toplam_urun_sayisi }}</a>

            {% else %}
            <a class="nav-link" href="{% url 'login' %}"><i class="fa-solid fa-right-to-bracket"></i></a>
            <a class="nav-link" href="{% url 'register' %}"><i class="fa-solid fa-user-plus"></i></a>
            {% endif %}

        </div>

        <button class="btn btn-close-white navbar-toggler " type="button" data-bs-toggle="offcanvas"
            data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">
                <li class="nav-item ms-xl-5">
                    <a class="nav-link" href="{% url 'allProduct' %}">TÜM ÜRÜNLER</a>
                </li>
                {% for anakategori in anakategori %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'category' anakategori.anakategoriBaslik %}">{{ anakategori.anakategoriBaslik }}</a>
                </li>
                {% endfor %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about-us' %}">HAKKIMIZDA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact-us' %}">İLETİŞİM</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">YARDIM</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center ">
                <li class="nav-item dropdown">
                    
                    {% if user.is_authenticated  %}
                        
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ user.get_full_name }}
                    </a>
                    {% else %}
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Giriş Yap / Üye Ol
                        </a>
                    {% endif %}
                        
                    <ul class="dropdown-menu">
                        
                        {% if user.is_authenticated %}
                        <!-- eğer giriş yapmış ise display flex olacak if döndürücez -->
                        <li><a class="dropdown-item" href="#"><i class="fa-solid fa-user"></i>PROFİLİ GÖSTER</a></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="fa-solid fa-power-off"></i> ÇIKIŞ YAP</a></li>

                        {% else %}
                        <li><a class="dropdown-item" href="{% url 'login' %}"><i class="fa-solid fa-right-to-bracket"></i> GİRİŞ YAP</a></li>
                        <li><a class="dropdown-item" href="{% url 'register' %}"><i class="fa-solid fa-user-plus"></i> ÜYE OL</a></li>
                        {% endif %}
                    </ul>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item ms-1">
                    <a href="{% url 'sepet' %}" class="btn btn-primary shopping-button" type="button"><i
                            class="fa-solid fa-cart-shopping"></i> SEPET: {{ toplam_urun_sayisi }} / {{ toplam_tutar }} TL </a>
                </li>
                {% else %}
                <li class="nav-item ms-1">
                    <a href="{% url 'login' %}" class="btn btn-primary shopping-button" type="button"><i
                            class="fa-solid fa-cart-shopping"></i> SEPET </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>