{% load static %}

<div class="offcanvas offcanvas-start offcanvas-let-menu" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop"
        aria-labelledby="staticBackdropLabel">
        <div class="offcanvas-header">
            <img src="{% static 'img/lampadalogo2.png' %}" width="50px" alt="">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <hr>
        <div class="offcanvas-body">
            <div>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% if '/allProduct/' in request.path %}activemenu{% endif %} " href="{% url 'allProduct' %}">TÜM ÜRÜNLER</a>
                    </li>
                    {% for anakategori in anakategori %}
                    <li class="nav-item">
                        <a class="nav-link {% if anakategori.anakategoriBaslik == categoryName %}activemenu{% endif %}" href="{% url 'category' anakategori.anakategoriBaslik %}" href="{% url 'category' anakategori.anakategoriBaslik %}">{{ anakategori.anakategoriBaslik }}</a>
                    </li>
                    {% endfor %}
                    <li class="nav-item">
                        <a class="nav-link {% if '/about-us/' in request.path %}activemenu{% endif %}" href="{% url 'about-us' %}">HAKKIMIZDA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if '/contact-us/' in request.path %}activemenu{% endif %}" href="{% url 'contact-us' %}">İLETİŞİM</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if '/yardim/' in request.path %}activemenu{% endif %}" href="{% url 'yardim' %}">YARDIM</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>