{% load static %}

{% comment %} sepet {% endcomment %}


<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">Alışveriş Sepeti</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <hr>
    <div class="offcanvas-body d-flex flex-column align-items-center gap-5">
        <h5 class="text-center">Alışveriş Sepetiniz Şu Anda Boş</h5>
        <i class="fa-solid fa-cart-shopping text-center" style="font-size: 100px;"></i>
    </div>
</div>