* {
  font-family: "Oswald", sans-serif;
}

.minihead {
  color: rgba(0, 0, 0, 0.6117647059);
  letter-spacing: 2px;
  font-size: 0.8rem;
  font-weight: 400;
  font-family: "Oswald", sans-serif !important;
}

.mdhead {
  color: #000000;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 700;
  font-family: "Oswald", sans-serif !important;
}

.btn-primary {
  background-color: black;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  color: white;
  transition: 0.2s;
  text-decoration: none;
  box-shadow: none !important;
}
.btn-primary:focus-visible {
  background-color: black !important;
}
.btn-primary:focus {
  background-color: black;
}
.btn-primary:active {
  background-color: black !important;
}
.btn-primary:hover {
  background-color: #c19a83;
}

.headhr {
  width: 70px;
  margin: auto;
  margin-top: 2rem;
  color: #c19a83;
  border: 1px solid #c7662e;
}

.alert-error {
  background-color: red;
  color: white;
}

.sepet p {
  margin-bottom: 0;
}

header {
  height: 100vh;
  position: relative;
}
header .header-img {
  z-index: -1;
  width: 100%;
  position: absolute;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header .navbar .collapse .navbar-nav .nav-link {
  font-size: 0.9rem;
  transition: all 0.2s linear;
  text-transform: uppercase;
}
header .navbar .collapse .navbar-nav .nav-link:hover {
  transform: scale(1.1);
  color: #c19a83;
}
header .navbar .collapse .navbar-nav .shopping-button {
  font-size: 0.9rem;
  padding: 0.8rem;
}
header .slogan {
  position: absolute;
  top: 40%;
  left: 5%;
}

.public-navbar .collapse .navbar-nav .nav-link {
  font-size: 0.9rem;
  transition: all 0.2s linear;
  text-transform: uppercase;
}
.public-navbar .collapse .navbar-nav .nav-link:hover {
  transform: scale(1.1);
  color: #c19a83;
}
.public-navbar .collapse .navbar-nav .nav-link.activemenu {
  transform: scale(1.1);
  color: #c19a83;
  border-bottom: 1px solid #c19a83;
}
.public-navbar .collapse .shopping-button {
  width: 140px;
  font-size: 0.9rem;
  padding: 0.8rem;
}
.public-navbar .collapse .shopping-button i {
  position: relative;
}
.public-navbar .collapse .shopping-button i .number-of-products {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -10px;
  left: 19px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: crimson;
  color: white;
  font-size: 10px;
  font-weight: 300;
  transition: 0.2s all;
}
.public-navbar .collapse .shopping-button:hover i .number-of-products {
  background-color: #c19a83;
  border: 1px solid white;
}
.public-navbar .collapse .dropdown .dropdown-menu {
  top: 54px !important;
  background-color: #f8f9fa !important;
  opacity: 1;
}
.public-navbar .collapse .dropdown .dropdown-menu .dropdown-item {
  font-size: 0.9rem;
}
.public-navbar .collapse .dropdown .dropdown-menu .dropdown-item i {
  width: 25px;
}
.public-navbar .collapse .dropdown .dropdown-menu .dropdown-item:active {
  background: #c19a83;
}
.public-navbar .collapse .dropdown .dropdown-menu .dropdown-item:hover {
  color: #c19a83;
  background: none;
}
.public-navbar .responsive-login-register {
  display: none;
  width: 50%;
  display: none;
  justify-content: space-evenly;
  align-items: center;
}
.public-navbar .responsive-login-register a {
  font-size: 0.9rem;
  transition: all 0.2s linear;
  text-transform: uppercase;
  margin-bottom: 0;
}
.public-navbar .responsive-login-register a i {
  margin-bottom: 0;
  font-size: 1rem;
}

.references .owl-carouselone .item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.references .owl-carouselone .item .card {
  width: 200px;
  height: 200px;
  overflow: hidden;
}
.references .owl-carouselone .item .card img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: 0.4s;
}
.references .owl-carouselone .item .card:hover img {
  transform: scale(1.1);
}

.category .card {
  width: 100%;
  height: 350px;
  overflow: hidden;
  position: relative;
}
.category .card .imgbox {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.category .card .imgbox img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.4s;
}
.category .card .text-box {
  width: 250px;
  z-index: 1;
  position: absolute;
  top: 80%;
  left: calc(50% - 125px);
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.18);
  border-radius: 10px;
}
.category .card .text-box p {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 0;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  transition: 0.4s;
}
.category .card:hover img {
  transform: scale(1.1);
}
.category .card:hover p {
  letter-spacing: 5px;
}

.products .card {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
  transition: 0.4s;
  text-decoration: none;
}
.products .card .imgbox {
  width: 100%;
  height: 350px;
  overflow: hidden;
}
.products .card .imgbox img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: 0.4s;
}
.products .card .text-box {
  background-color: white;
  border-top: 1px solid rgba(197, 197, 197, 0.6117647059);
  border-bottom: 1px solid rgba(197, 197, 197, 0.6117647059);
}
.products .card .text-box .name {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 0;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.products .card .price-content {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.products .card .price-content .price-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.products .card .price-content .price-box p {
  text-align: center;
  margin-bottom: 0;
  font-weight: 800;
  font-size: 18px;
  color: red;
}
.products .card .price-content .price-box p del {
  color: black;
}
.products .card .price-content button {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  width: 50%;
}
.products .card .product-color {
  margin: auto;
  padding-top: 1rem;
  width: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
}
.products .card .product-color button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid gray;
}
.products .card .product-color .pwhite {
  background-color: white;
}
.products .card .product-color .pblack {
  background-color: black;
}
.products .card .product-color .porange {
  background-color: #c19a83;
}
.products .card .product-color .activebutton {
  border: 1px solid black !important;
}
.products .card .sale {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  background-color: red;
}
.products .card .sale p {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
}
.products .card:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.products .filtre_section {
  height: 600px;
  position: sticky;
  top: 20px;
  overflow-y: scroll;
  border: 1px solid rgba(0, 0, 0, 0.18);
  border-radius: 10px;
}
.products .filtre_section ul li {
  list-style-type: none;
}
.products .filtre_section ul li a {
  text-decoration: none;
  color: black;
  font-weight: lighter;
  font-size: 14px;
}
.products .filtre_section ul li a:hover {
  color: gray;
}
.products .collection-parent {
  position: relative;
  position: relative;
}
.products .collection-parent .text-box {
  z-index: 2;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0);
  transition: 0.4s;
}
.products .collection-parent .text-box p {
  line-height: 1.5;
  text-align: center;
  margin-bottom: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
}
.products .collection-parent .btn-primary {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.products .collection-parent .item .card {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
  border: none;
}
.products .collection-parent .item .card::before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  transition: height 0.5s ease-out;
  background: linear-gradient(to bottom, transparent 0%, rgb(0, 0, 0) 100%);
}
.products .collection-parent .item .card::after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.products .collection-parent .item .card:hover::before {
  height: 0%;
}
.products .collection-parent .item .card:hover .text-box {
  display: none;
}
.products .collection-parent .item .card .imgbox {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.products .collection-parent .item .card .imgbox img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.4s;
}

.chooseus .chooseus-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.chooseus .chooseus-box i {
  color: #c19a83;
  font-size: 2rem;
}
.chooseus .chooseus-box h4 {
  font-size: 1.4666666667rem;
  line-height: 1.2em;
  font-weight: 400;
  text-transform: none;
  margin-bottom: 0;
  text-align: center;
}
.chooseus .chooseus-box p {
  text-align: center;
  margin-bottom: 0;
}

.sproduct .sproduct-imgbox {
  width: 100%;
  height: 500px;
  overflow: hidden;
  border: 1px solid rgba(238, 238, 238, 0.9333333333);
}
.sproduct .sproduct-imgbox #MainImg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: 0.4s;
}
.sproduct .small-img-group {
  display: flex;
  justify-content: space-around;
  height: 120px;
}
.sproduct .small-img-group .small-img-col {
  flex-basis: 24%;
  cursor: pointer;
  height: 100%;
  border: 1px solid rgba(238, 238, 238, 0.9333333333);
}
.sproduct .small-img-group .small-img-col .small-img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.sproduct select {
  display: block;
  padding: 5px 10px;
}
.sproduct input {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}
.sproduct input:focus {
  outline: none;
}
.sproduct .buy-btn {
  background-color: black;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 25px;
  padding-right: 25px;
  border: none;
  opacity: 1;
  transition: 0.4s all;
}
.sproduct .buy-btn:hover {
  background-color: #c19a83;
}

.contact-us .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  transition: 0.4s all;
}
.contact-us .card h6, .contact-us .card h5 {
  margin-bottom: 0;
}
.contact-us .card i {
  color: #c19a83;
  font-size: 40px;
}
.contact-us .card:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.get-in-touch .card {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.get-in-touch .card label sup {
  color: red;
}
.get-in-touch .card input, .get-in-touch .card textarea {
  margin-top: 0.8rem;
}
.get-in-touch .card button {
  width: 150px;
  margin: auto;
  background-color: black;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 25px;
  padding-right: 25px;
  border: none;
  opacity: 1;
  transition: 0.4s all;
}
.get-in-touch .card button:hover {
  background-color: #c19a83;
}

.mission-vision .mycard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 420px;
}
.mission-vision .imgbox {
  height: 420px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mission-vision .imgbox img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-fit: cover;
     object-fit: cover;
}

.register form {
  border: 1px solid rgba(197, 197, 197, 0.6117647059);
  border-radius: 10px;
  padding: 2rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.register form label {
  margin-top: 1rem;
}
.register form .register-input {
  width: 100%;
  margin-top: 0.5rem;
}

.offcanvas-let-menu .offcanvas-body .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
}
.offcanvas-let-menu .offcanvas-body .navbar-nav .nav-item .nav-link.activemenu {
  color: #c19a83;
  font-weight: bold;
}

.user-account form {
  border: 1px solid rgba(0, 0, 0, 0.18);
  border-radius: 10px;
  padding: 2rem;
}
.user-account form h6 {
  margin-bottom: 0;
}
.user-account form label {
  margin-top: 1rem;
}
.user-account form .membership {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.user-account form .membership select {
  padding: 0.3rem;
  border: 1px solid rgba(0, 0, 0, 0.18);
  border-radius: 10px;
}
.user-account form .membership input {
  font-size: 14px;
  margin-top: 0.2rem;
  padding: 0.3rem;
  border: 1px solid rgba(0, 0, 0, 0.18);
  border-radius: 10px;
}
.user-account form .address-info {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.user-account form .address-info select {
  font-size: 14px;
  margin-top: 0.3rem;
  padding: 0.2rem;
  border: 1px solid rgba(0, 0, 0, 0.18);
  border-radius: 10px;
}
.user-account form .address-info input {
  font-size: 14px;
  margin-top: 0.2rem;
  padding: 0.3rem;
  border: 1px solid rgba(0, 0, 0, 0.18);
  border-radius: 10px;
}
.user-account form .address-info textarea {
  font-size: 14px;
  margin-top: 0.2rem;
  border: 1px solid rgba(0, 0, 0, 0.18);
  border-radius: 10px;
}

footer .socail-media img {
  filter: grayscale(100%);
  transition: 0.3s all ease;
}
footer .socail-media img:hover {
  filter: none;
}

@media screen and (max-width: 992px) {
  .mission-vision .mycard {
    height: 100%;
  }
  .mission-vision .imgbox {
    height: 100%;
  }
}
@media screen and (max-width: 991.9px) {
  .public-navbar .responsive-login-register {
    display: flex;
  }
  .public-navbar .responsive-login-register a {
    font-size: 0.9rem;
    transition: all 0.2s linear;
    text-transform: uppercase;
  }
}/*# sourceMappingURL=style.css.map */