{% extends 'index.html' %}

{% load static %}

{% block title %}
    Lampada | Üye Ol
{% endblock %}

{% block content %}
    <section class="register">
        <div class="container">
            <h6 class="minihead text-center mt-5">Anasayfa / <span>Üye Ol</span></h6>
            <h6 class="mdhead text-center">Üye Ol</h6>
            <hr class="headhr">
            <div class="row mt-5 justify-content-center">
                <div class="col-md-7">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {% if error %}
                            <div class="alert alert-danger">
                                {{ error }}
                            </div>
                        {% endif %} 
                        <label for="username">Kullanıcı Adı:</label>
                        <input class="register-input" type="text" placeholder="Kullanıcı Adı Giriniz" name="username" value="{{ username }}">
                        <label for="firtname">Adı:</label>
                        <input class="register-input" type="text" placeholder="Adınızı Giriniz" name="firstname" value="{{ firstname }}">
                        <label for="lastname">Soyadı:</label>
                        <input class="register-input" type="text" placeholder="Soyadınızı Giriniz" name="lastname" value="{{ lastname }}">
                        <label for="email">E-Mail:</label>
                        <input class="register-input" type="email" placeholder="E-Mail Adresinizi Giriniz" name="email" value="{{ email }}">
                        <label for="password">Şifrenizi Giriniz: </label>
                        <input  class="register-input"type="password" placeholder="Şifrenizi Giriniz (En az 8 karakter olmalıdır)" name="password">
                        <label for="repassword">Şifrenizi Tekrar: </label>
                        <input class="register-input" type="password" placeholder="Şifrenizi Tekrar Giriniz" name="repassword">
                        <label for="phone">Telefon:</label>
                        <input class="register-input" type="tel" id="phone-input" placeholder="Telefon numarası" name="phone" value="{{ phone }}">
                        <input type="checkbox" class="register-checkbox me-2" name="accept_terms">
                        <label for="" data-bs-toggle="modal" data-bs-target="#exampleModal1" style="cursor: pointer; font-size: 14px; text-decoration:underline;">Üyelik Sözleşmesini Kabul Ediyorum</label><br>
                        <input type="checkbox" class="register-checkbox me-2" name="accept_privacy">
                        <label for="" data-bs-toggle="modal" data-bs-target="#exampleModal2" class="d-inline" style="cursor: pointer;font-size: 14px; text-decoration:underline;">Kişisel verilerin işlenmesine ilişkin Aydınlatma Metnini okudum.</label> 
                        <button type="submit" value="Register" class="btn btn-primary d-block mt-5">Kayıt Ol</button>
                    </form>

                    <!-- Modal-Body Üyelik -->
                    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel"> {{ uyelikMetni.uyelikBaslik }}</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body" style="font-size: 12px; font-weight: 300; font-family: 'Times New Roman', Times, serif;">
                                    {{ uyelikMetni.uyelikmetni | safe}}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Okudum Anladım</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal-Body Kvkk -->
                    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel"> {{ kvkkMetni.kvkkBaslik }} </h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body" style="font-size: 12px; font-weight: 300; font-family: 'Times New Roman', Times, serif;">
                                    {{ kvkkMetni.kvkkmetni | safe }}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Okudum Anladım</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}