{% extends 'index.html' %}

{% load static %}

{% block title %}
    Lampada | Alışveriş Sepeti
{% endblock %}

{% block content %}
    <!-- sepet alanı -->
    <section class="products py-5">
        <div class="container">
            <h6 class="minihead text-center">Alışveriş</h6>
            <h6 class="mdhead text-center">Sepetim</h6>
            <hr class="headhr">  
            {% if messages %}

                                
                {% for mesaj in messages %}
                    <div class="alert alert-success text-center mt-3" id='mesaj'>
                        {{ mesaj }}
                    </div>
                {% endfor %}
            

            {% endif %}
            <div class="border px-4 mt-5 sepet">

                {% if sepetim.exists %}
                <div class="row mt-4">
                    <div class="col-2">
                        <h6>Ürün Resmi</h6>
                    </div>
                    <div class="col-2">
                        <h6>Ürün İsmi</h6>
                    </div>
                    <div class="col-2  birim-fiyat-responsive">
                        <h6>Birim Fiyatı</h6>
                    </div>
                    <div class="col-lg-2 col-3">
                        <h6 class="text-center text-lg-start">Adet</h6>
                    </div>
                    <div class="col-lg-2 col-3">
                        <h6>Toplam</h6>
                    </div>
                    <div class="col-2">
                        <h6>Çıkar</h6>
                    </div>
                </div>
                <hr>
                {% else %}
                <p></p>
                {% endif %}
                {% if sepetim.exists %}
                    {% for urun in sepetim %}
                    <div class="row mt-2 d-flex align-items-center">
                        <div class="col-2">
                            <img src="{{ urun.urun.urunresmi.url }}" alt="" width="70px">
                        </div>
                        <div class="col-2">
                            <p>{{ urun.urun.isim }}</p>
                        </div>
                        <div class="col-2 birim-fiyat-responsive">
                            <p>
                                {% if urun.urun.indirimli_fiyat %}
                                <sup class="text-danger"><del>{{ urun.urun.fiyat }} TL</del></sup>
                                    {{ urun.urun.indirimli_fiyat }} TL
                                {% else %}
                                    {{ urun.urun.fiyat }} TL
                                {% endif %}
                            </p>
                        </div>
                        <div class="col-lg-2 col-3 d-flex justify-content-center">
                            <form action="" method="POST">
                                {% csrf_token %}
                                <div class="input-number-group input-number-group-responsive me-3">
                                    <div class="input-group-button">
                                        <span class="input-number-decrement">-</span>
                                    </div>
                                    <input type="hidden" name="urunId" value="{{ urun.id }}">
                                    <input class="input-number adetInput responsive-adet" type="text" name="yeniAdet" value="{{ urun.adet }}" min="1" max="5">
                                    <div class="input-group-button">
                                        <span class="input-number-increment">+</span>
                                    </div>
                                    <input type="submit" value="🗸" name="guncelle" class="btn btn-primary ms-1 fw-light px-2 py-1">
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-2 col-3">
                            <p>{{ urun.toplam|floatformat:2}} TL</p>
                        </div>
                        <div class="col-2">
                            <form action="" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="urunId" value="{{ urun.id }}">
                                <input type="submit" class="btn btn-close py-2" value="">
                            </form>
                        </div>
                    </div>
                    <hr>
                    {% endfor %}
                {% else %}
                    <div class="d-flex flex-column align-items-center gap-4 mt-5">
                        <p class="text-center" style="font-size: 20px;">Sepetinizde ürün bulunmuyor.</p>
                        <i class="fa-solid fa-cart-shopping m-auto" style="font-size: 100px;"></i>
                    </div>
                {% endif %}
                <div class="row py-3">
                    <div class="col-6">
                    </div>
                {% if sepetim.exists %}
                    <form action="{% url 'teslimat' %}" method="POST" class='d-flex justify-content-lg-end justify-content-center'>
                        {% csrf_token %}
                        <div class="col-md-6 mb-3 d-flex justify-content-lg-end justify-content-center">
                            <div class="row">
                                <div class="col-6 text-end">
                                    <p>Ürün Sayısı : </p>
                                    <p>Ara Toplam : </p>
                                    <p>KDV (%20) : </p>
                                    <p>Genel Toplam : </p>
                                </div>
                                <div class="col-6 ">
                                    <p class="fw-bold" style="color: crimson;">{{ toplam_urun_sayisi }}</p>
                                    <p class="fw-bold" style="color: crimson;">{{ araToplam }} TL</p>
                                    <p class="fw-bold" style="color: crimson;">{{ kdv }} TL</p>
                                    <p class="fw-bold" style="color: crimson;">{{ toplam_tutar }} TL</p>

                                    <!-- teslimat sayfasına bilgileri aktarmak için -->
                                    <input type="hidden" name="toplam_tutar" value="{{ toplam_tutar }}">
                                    <input type="hidden" name="toplam_urun_sayisi" value="{{ toplam_urun_sayisi }}">
                                    <input type="hidden" name="kdv" value="{{ kdv }}">
                                    <input type="hidden" name="araToplam" value="{{ araToplam }}">
                                </div>
                                <input type="submit" value="İlerle" class="d-inline ms-lg-auto m-auto mt-3 btn btn-primary py-2 me-lg-5" style="width: 150px;"> 

                                <!-- <a href="{% url 'teslimat' %} " class="d-inline ms-lg-auto m-auto mt-3 btn btn-primary py-2 me-lg-5" style="width: 150px;">Teslimata Adımı</a> -->
                                
                            </div>
                            <!-- <p class="fw-bolder"><span class=" fw-light">Toplam Ürün Sayısı:</span> {{ toplam_urun_sayisi }}</p>
                            <p class="fw-bolder"><span class="fw-light">Toplam Tutar:</span> {{ toplam_tutar }} TL</p> -->
                        </div>
                        {% else %}
                            <p></p>
                        {% endif %}
                    </form>
                    

                </div>
            </div>
        </div>
    </section>
{% endblock content %}